.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Занимает весь экран */
  background-color: rgba(255, 255, 255, 0.5); /* Белый фон */
}

.loader {
  border: 10px solid #f3f3f3; /* Светло-серый круг */
  border-top: 10px solid #3498db; /* Синяя верхняя часть */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Анимация вращения */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}