/* .counter-grid {
	display: grid;
	grid-template-columns: 5% 5% 10% auto;
	margin-left: 50px;
} */
/* .choose-currency {
	display: flex;
	flex-direction: column;
}
.choose-currency > label {
	margin: 0 auto;
} */
.counter-grid > div > input {
	padding: 5px;
}
.counter-grid {
	margin: 0 0 0 50px;
}
.counter-grid div {
	margin: 0 0 10px 0;
}
button {
	margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
}
button:active{
	box-shadow: none;
}