.edges {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	width: 100%;
}
.edges > div > label{
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	cursor: pointer;
}
.edges > div > label > img {
	display: block;
	margin: 0 auto;
}