.wrapper-4 {
	position: relative;
}
.producers {
	width: 260px;
}
.wrapp-img-producers > label > img {
	height: 50px;
	cursor: pointer;
	display: block;
	margin: 7px auto;
}
.wrapp-img-producers > label > img:hover {
	transform: scale(1.1,1.1);
}
.producers {
	float: left;
	margin: 0 15px;
}
.wrapp-img-producers {
	border-left: 3px solid transparent;
    border-bottom: 1px solid silver;
}
.wrapp-img-producers.selected {
	padding-top: 1px;
	border-left: 3px solid red;
	box-shadow: -18px 0px 12px rgba(0, 0, 0, 0.25);
}
.colors {
	max-height: 395px;
    overflow-x: hidden;
	overflow-y: auto;

    min-height: 395px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
}
.wrapp-img {
    display: inline-block;
    margin: 3px;
    text-align: center;
    position: relative;
}
.wrapp-img > label {
	cursor:  pointer;
}
.wrapp-img > label > img {
    display: block;
    width: 120px;
    height: 120px;
	border: 2px solid grey;
}
.wrapp-img > label > img.selected {
	border-color: red;
}
.wrapp-img > label > input,
.wrapp-img-producers > label > input {
	display: none;
}
.wrapp-img > label > span {
	position: absolute;
	width: 89%;
	left: 2px;
	padding: 5px;
    background-color: rgb(255, 255, 255, 0.5);
	bottom: 1px;
}
.right-side {
	display: inline-block;
	width: calc(100% - 310px);
}
#current-color {
    width: 380px;
    height: 215px;
	margin: 5px;
	border: 1px solid black;
	float: left;
}
.spec-color {
	display: inline-block;
	margin: 5px 0 0 10px;
}
.spec-color > p {
	margin: 5px;
}
.spec-color > p:nth-child(-2n+4){
	margin-bottom: 15px;
	font-style: italic;
}
.spec-color > p:nth-child(n+6){
	font-style: italic;
}
.spec-color > p:nth-child(-2n+5){
	font-weight: bold;
	text-decoration: underline;
}
.emergency {
	color: orange;
}
h2 {
	font-weight: 500;
	font-size: 24px;
	color: darkgrey;
}
.grey-color img{
filter: grayscale(0.8);
}

#search {
	margin-top: 1rem;
}

.wrapp-input{
	display: inline-block;
}
    .text-field__input {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      /* padding: 0.375rem 0.75rem;
      font-family: inherit; */
      font-size: 1rem;
      /* font-weight: 400;
      line-height: 1.5; */
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .text-field__input::placeholder {
      color: #212529;
      opacity: 0.2;
    }

    .text-field__input:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    .text-field__input:disabled,
    .text-field__input[readonly] {
      background-color: #f5f5f5;
      opacity: 1;
    }

	/* inactive icon - вариант 2 */
    .text-field__icon-2 {
      position: relative;
    }

    .text-field__icon-2::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2.5rem;
      background-color: #f5f5f5;
      border: 1px solid #bdbdbd;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    .text-field__icon-2::after {
      content: '';
      color: #212529;
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      bottom: 0;
      width: 2.5rem;
      top: 50%;
      transform: translateY(-50%);
      justify-content: center;
    }

    .text-field__icon-2 input {
      padding-left: 3rem;
    }

    .text-field__icon-2_search::after {
      width: 2.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }