.edges {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	margin: 0.5rem 2rem;
}
.edges > div{
	margin-bottom: 1rem;

}

.edges > div > label{
	display: flex;
	flex-direction: column;
	margin: 0 0.5rem;
	cursor: pointer;
	padding: 1rem 0.5rem 0;
	border: 1px solid grey;
	border-radius: 5px;
}
.edges > div > label:has(input:checked) {
	border-color: red;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}
.edges > div > label > input{
display: none;
}
.edges > div > label > img {
	display: block;
	margin: 0 auto 0.5rem;
}
.edges > div > label > p{
margin: 0 auto 1rem;
}