.wrapper-3 input {
	padding: 5px;
	margin: 0 0 0.7rem 0;
	width: 100px;
}
.wrapper-3 .dimension-field > label {
	display: inline-block;
	margin: 0 0 10px 20px;
	width: 200px;
	text-align: right;
}

 .description{
	margin: 0 0 2rem 5rem;
 }
 .description p {
	font-size: 0.8rem;
	font-style: italic;
	margin-bottom: 0.5rem;
	color: grey;
 }
 .input-error{
	color: red;
}
