.wrapper-3 input {
	padding: 5px;
	margin: 5px 0 20px 0;
	width: 100px;
}
.wrapper-3 .dimension-field > label {
	display: inline-block;
	margin: 0 0 10px 20px;
	width: 200px;
	text-align: right;
}
/* .dimension-field {
	display: inline-block;

} */
