.wrapper-1 {
	display: flex;
	justify-content: space-around;
}

.type-form {
    border: 3px solid transparent;
	border-radius: 4px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
}
.type-form label{
	cursor: pointer;
}
.type-form img {
	opacity: 0.2;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}
.type-form > label > input {
	display: none;
}
.type-form img:hover {
	opacity: 1.0;
	transition: all 0.2s ease-out;
}
.type-form.selected {
	opacity: 1.0;
	box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.25);
	border-color: #E67422;
}

.type-form.selected > img {
	opacity: 1.0;
}
.wrapper-2 {
	margin-top: 20px;
}
#big-picture-cabinets {
	display: block;
}
.wrapper-2 > img {
	margin: 0 auto;
}