* {
  margin: 0;
  padding: 0;
}
html, body {
height: 100%;
}
body {
font-family: 'Open Sans Condensed', sans-serif;	
font-weight: normal;
}
.main-wrap {
	margin: 100px 0;
}
main {
	border-style: solid;
	border-color: grey;
	max-width: 1000px;
	margin: 0 auto;
}
.wrap {
	width: 100%;
	min-height: 100%;
	position: relative;	
}
.hidden-data {
	display: none;
}
.num-step-title {
	font-size: 24px;
    display: inline-block;
    font-weight: 700;
    color: darkgrey;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin-right: 20px;
    padding: 2px 10px;
}
.step-title {
	margin: 50px 0 20px 20px;
}

.message-error{
	color: red;
	font-size: 0.9rem;
	font-style: italic;
	margin-top: 1rem;
}
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* Добавление иконки */
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}
button {
	margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
	cursor: pointer; 
}
button:active{
	box-shadow: none;
}
form{
	margin-bottom: 3rem;
}